/*
* Configurações gerais de estilo
*/
/* Definição das cores padrões do site */
:root {
    --very-light-green: #deede5;
    --light-green: #00FF33;
    --green: #009241;
    --dark-green: #0A4400;
    --light-yellow: #FFFF61;
    --dark-gray: #7E7E7E;
    --gray: #B6B1B2;
    --light-gray: #E6E6E6;
}
/* 
* Definição o tamanho minimo do body 
* para o footer ficar sempre em baixo 
*/
body{
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
}
/* 
* Definindo as margens do conteúdo da página
* para que o header não sobreponha a section
*/
section{
  margin-top: 75px; 
  margin-bottom: 55px;
}
/* Definindo as cores do footer*/
footer .nav-link:hover{
  text-decoration: underline;
}